
/*----------------

[1. Styles for devices(>=993px and <=1200px)]

*/

@media (min-width: 993px) and (max-width: 1024px) {
/*****Home Page CSS*****/

}

/*--------------------

[2. Styles for devices(>=768px and <=992px)]

*/

@media (min-width: 768px) and (max-width: 992px) {
/*****Home Page CSS*****/
.navbar>.container .navbar-brand-centered, .navbar>.container-fluid .navbar-brand-centered {
	margin-left: -138px;
}
.smart-forms .option {
	padding-right: 10px;
}
.nav > li > a {
	padding-left: 12px;
	padding-right: 12px;
}
.search-criteria .keywords {
	width: 30%;
}
.slider-home .carousel-control {
	font-size: 28px;
}
.slider-home .carousel-caption {
	bottom: 60px;
}
.slider-home .carousel-caption h3 {
	font-size: 40px;
}
.slider-home .carousel-caption h4 {
	font-size: 17px;
}
.how-point, .how-point-1 {
	display: none;
}
.provider-listing .media-object, .recent-review .media-object, .latest-blog .media-object {
	width: 80px;
}
}

/*--------------------

[3. Styles for devices(>=481px and <=767px)]

*/

@media (min-width: 481px) and (max-width: 767px) {
/*****Home Page CSS*****/
.smart-forms .option {
	padding-right: 10px;
}
.navbar-brand {
	padding: 3px 15px 7px;
}
.navbar-toggle {
	margin-top: 16px;
}
.search-criteria {
	background: #000 none repeat scroll 0 0;
	padding: 15px 0;
	position: inherit;
}
.search-criteria .keywords {
	margin-left: 0;
	margin-bottom: 5px;
	width: 100%;
}
.search-criteria .keywords input {
	border-radius: 3px;
}
.search-criteria .category-search {
	margin-right: 0;
}
.search-criteria .select-location, .search-criteria .category-search {
	border-left: none;
	margin-bottom: 5px;
	width: 100%;
}
.search-criteria .category-search .custom-select {
	border-radius: 3px;
}
.custom-select {
	border-radius: 3px;
}
.search-criteria .search-btn {
	width: 100%;
}
.slider-home .carousel-control {
	font-size: 28px;
}
.slider-home .carousel-caption {
	bottom: 50px;
}
.slider-home .carousel-caption h3 {
	font-size: 34px;
	margin: 0;
}
.slider-home .carousel-caption h4 {
	font-size: 16px;
}
.heading-section h2 {
	font-size: 26px;
}
.heading-section h2 img {
	height: auto;
	width: 25px;
}
.how-point, .how-point-1 {
	display: none;
}
.testimonials .avatar-link, .testimonials .quote > .avatar {
	width: 28%;
}
.testimonials cite {
	width: 68%;
}
/*****Category Page CSS*****/
.category-box img {
	width: 100%;
}
}

/*--------------------

[4. Styles for devices(<=480px)]

*/


@media (max-width: 480px) {
/*****Home Page CSS*****/
.smart-forms .option {
	padding-right: 10px;
}
.navbar-brand {
	padding: 3px 15px 7px;
}
.navbar-toggle {
	margin-top: 16px;
}
.search-criteria {
	background: #000 none repeat scroll 0 0;
	padding: 15px 0;
	position: inherit;
}
.search-criteria .keywords {
	margin-left: 0;
	margin-bottom: 5px;
	width: 100%;
}
.search-criteria .keywords input {
	border-radius: 3px;
}
.search-criteria .category-search {
	margin-right: 0;
}
.search-criteria .select-location, .search-criteria .category-search {
	border-left: none;
	margin-bottom: 5px;
	width: 100%;
}
.search-criteria .category-search .custom-select {
	border-radius: 3px;
}
.custom-select {
	border-radius: 3px;
}
.search-criteria .search-btn {
	width: 100%;
}
.slider-home .carousel-control {
	font-size: 28px;
}
.slider-home .carousel-caption {
	bottom: 0;
}
.slider-home .carousel-caption h3 {
	font-size: 16px;
	margin: 0;
}
.slider-home .carousel-caption h4 {
	font-size: 12px;
	margin: 4px;
}
.heading-section h2 {
	font-size: 20px;
}
.heading-section h2 img {
	height: auto;
	width: 25px;
}
.provider-listing .media-object, .recent-review .media-object, .latest-blog .media-object {
	width: 60px;
}
.how-point, .how-point-1 {
	display: none;
}
.testimonials cite {
	margin-top: 0;
}
.testimonials .avatar {
	height: auto;
	width: 100%;
}
/*****Static Page CSS*****/
.static-part p {
	font-size: 14px;
	line-height: 24px;
}
.static-part img {
	height: auto;
}
/*****Category Page CSS*****/
.category-box img {
	width: 100%;
}
/*****FAQ Page CSS*****/
.panel-default > .panel-heading {
	padding: 15px;
}
.faq-section .panel-title {
	font-size: 14px;
}
}
